ul {
  list-style: none;
}

.aboutUs {
  padding: 0 20px;
}

.aboutUs h3 {
  text-align: center;
  margin: 40px 0;
}

.aboutUs p,
.aboutUs span {
  display: block;
  text-align: center;
}

.aboutUs p {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
  margin-bottom: 40px;
}

.aboutUsInfoContainer {
  gap: 20px;
}

.aboutUsInfoContainer li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUsInfoContainer li img {
  border-radius: 3px;
}

.aboutUsInfoContainer li .aboutUsImgCover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: #fafafa;
  font-weight: bold;
  text-overflow: clip;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  padding: 20px;
  border-radius: 3px;
}
