@import 'common';


.nav {
    @include w-h-bgcolor($h: 70px, $bgColor: $bg-color-dark);
    position: sticky;
    top: 0;
    @include flex-r-c-sb();
    z-index: 999;
    color: $bg-color-light;

    ul {
        width: 70%;
        @include flex-r-c-sb($j-c: space-between);

        li {
            position: relative;

            a {
                text-decoration: none;
                color: $bg-color-light;
            }

            a:hover {
                color: lightcoral;
            }
        }

        li:not(:last-child)::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            @include w-h-bgcolor(0, 2px, lightcoral);
            transition: width 0.4s;
        }

        li:not(:last-child):hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.reservationBtn {
    background-color: transparent;
    width: 100bem;
    height: 30px;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: $bg-color-light;
    border: 2px solid lightcoral;
    border-radius: 100px;
    transition: 0.4s;
}

.reservationBtn:hover {
    background-color: lightcoral;
    color: $bg-color-dark;
}

.navMobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    .navMobileBtn {
        @include w-h-bgcolor(50px, 50px, $bg-color-light);
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        transition: 0.3s;
    }

    .navMobileBtn:hover {
        background-color: lightcoral;
    }

    .navMobileBtn:active {
        @include w-h-bgcolor(49px, 49px, rgb(239, 200, 200));
    }

    ul {
        padding-top: 30px;
        line-height: 2.5rem;
        @include w-h-bgcolor(200px, 100vh, $bg-color-light);
        transform: translateX(-100%);
        transition: ease 0.4s;
        position: relative;

        &:after {
            content: "";
            display: inline-block;
            @include w-h-bgcolor(100vw, 100vh, transparent);
            position: absolute;
            top: 0;
            left: 100%;
            transition: 0.4s;
        }

        li {
            a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: $bg-color-dark;
                padding: 0 30px;
                font-size: 1.3rem;
            }

            a:hover {
                color: $bg-color-light;
                background-color: lightcoral;
            }

            a:active {
                color: $bg-color-dark;
                background-color: rgb(239, 200, 200);
            }
        }

        button {
            margin: 20px 0 30px 10px;
            color: $bg-color-dark;
            font-size: 1.3rem;
        }
    }

    ul.open {
        transform: translateX(0);
        &:after {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

}