@import 'common';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color-light;
    color: $bg-color-dark;
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

ul {
    list-style: none;
}

.sectionTitle {
    height: $section-title-height;
    margin-top: $section-title-margin-large;
    text-align: center;
    line-height: $section-title-height;
    font-size: $section-title-height;
}

.gridContainer {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;

    li img {
        width: 100%;
        height: 100%;
    }
}

header {
    z-index: 10;
    padding: 0 10px;
    @include w-h-bgcolor($h: 35px);
    @include flex-r-c-sb($j-c: space-between);

    ul {
        display: flex;

        li:not(:last-child) {
            margin-right: 10px;
        }
    }

    .contact li {
        a {
            text-decoration: none;
            color: $bg-color-dark;
        }

        span {
            font-size: 0.8rem;
            line-height: 0.8rem;
        }

        .locationIcon {
            font-size: 1.2rem;
            font-weight: bold;
        }

        i {
            margin-right: 5px;
        }
    }
}

@import 'home';
@import 'navigation';
@import 'menu';
@import 'testimonials';
@import 'aboutUs';
@import 'findUs';

footer {
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-style: italic;
    font-size: 0.8rem;
}

@media (max-width:768px) {
    .nav ul {
        width: 90%;
    }

    .menuContainer {
        padding: 0;

        .menuCard {
            h1 {
                font-size: 1.6rem;
            }
        }
    }

    .testimonials {
        h1 {
            margin-top: $section-title-margin-small;
            margin-bottom: 0;
        }

        .pictureContainer img {
            height: 500px;
        }
    }

    .aboutUs h3 {
        padding: 0 30px;
    }

    .findUs .findUsInfoWrapper {
        flex-direction: column;
        align-items: center;

        div {
            margin-right: 0;
            text-align: center;
        }
    }
}



@media (max-width:600px) {
    header {
        justify-content: flex-end;
        height: 50px;
        position: fixed;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


        li:first-child span:last-child,
        li:last-child span {
            display: none;
        }
    }

    .nav {
        display: none;
    }

    .navMobile {
        display: block;
    }

    .sectionTitle {
        font-size: 3rem;
    }

    .gridContainer {
        grid-template-columns: auto auto;
    }

    .brand {
        height: 180px;
        img:first-child {
            width: 60%;
        }

        img:last-child {
            width: 18%;
        }
    }

    .home {

        img {
            content: url('../assets/images/home_page_600px.png');
        }
    }

    .menuContainer {
        padding: 0 20px;
        justify-content: space-evenly;

        .menuPicturesWrapper {
            width: 30%;
            grid-template-columns: auto;
        }

        .menuCardWrapper {
            width: 60%;
        }

        .menuCard {
            padding: 20px;
            left: 0;
        }
    }

    .testimonials {
        .pictureContainer img {
            height: 500px;
        }
    }
}