ul {
  list-style: none;
}

ul {
  list-style: none;
}

.brand {
  padding-top: 30px;
  background-color: #1c1d1e;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand img:first-child {
  width: 300px;
}

.brand img:last-child {
  width: 100px;
}

.home {
  position: relative;
}

.home .textContainer {
  color: rgba(255, 255, 255, 0.1);
  font-size: 12rem;
  line-height: 12rem;
  font-family: 'Archivo Black';
  position: absolute;
  top: 0%;
  width: 100%;
  overflow: hidden;
}

.home .textContainer p {
  position: relative;
  white-space: nowrap;
  transform: skewX(-30deg);
  transition: ease 4s;
}

.home .textContainer p:first-child {
  position: relative;
  top: 0;
  left: 100vw;
}

.home .textContainer p:last-child {
  position: relative;
  top: -6rem;
  right: 100vw;
}

.home .textContainer p:first-child.horizontalMove {
  left: -10vw;
}

.home .textContainer p:last-child.horizontalMove {
  right: 0;
}

.homePictureContainer {
  position: relative;
}

.homePictureContainer img {
  width: 100%;
}

.homePictureContainer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1c1d1e 1%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, #fafafa 99%);
}

ul {
  list-style: none;
}

.nav {
  background-color: #1c1d1e;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: #fafafa;
}

.nav .navMobileBtn {
  display: none;
}

.nav ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: #fafafa;
}

.nav ul li a:hover {
  color: lightcoral;
}

.nav ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: lightcoral;
  height: 2px;
  width: 0;
  transition: width 0.4s;
}

.nav ul li:not(:last-child):hover:after {
  width: 100%;
}

.reservationBtn {
  background-color: transparent;
  width: 100bem;
  height: 30px;
  padding: 0 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fafafa;
  border: 2px solid lightcoral;
  border-radius: 100px;
  transition: 0.4s;
}

.reservationBtn:hover {
  background-color: lightcoral;
  color: #1c1d1e;
}

.reservation {
  background-color: #fafafa;
  height: 500px;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: none;
}

.reservation.open {
  display: block;
}

ul {
  list-style: none;
}

.menu > p {
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.menuIntroContainer li {
  position: relative;
}

.menuIntroContainer li .menuIntroImgCover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 0;
  width: 100%;
  transition: 0.4s;
}

.menuIntroContainer li .menuIntroImgCover .whiteFrame {
  background-color: transparent;
  height: 80%;
  width: 80%;
  border: 3px solid #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  flex-direction: column;
  color: #fafafa;
  opacity: 0;
  transition: 1s;
}

.menuIntroContainer li .menuIntroImgCover span {
  display: inline-block;
  width: 80%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menuIntroContainer li .menuIntroImgCover span:first-child {
  font-size: 2rem;
  line-height: 2rem;
}

.menuIntroContainer li .menuIntroImgCover span:last-child {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.menuIntroContainer li .menuIntroImgCover.mousehover {
  height: 100%;
}

.menuIntroContainer li .menuIntroImgCover.mousehover .whiteFrame {
  opacity: 1;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuIntroContainer li .menuIntroImgCover.mousehover span {
  position: static;
  transform: translateX(0);
}

.menuContainer {
  margin: 110px 0;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer .menuPicturesWrapper {
  width: 45%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.menuContainer .menuPicturesWrapper img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.menuContainer .menuPicturesWrapper img:hover {
  transform: scale(1.05);
}

.menuContainer .menuCardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  transition: ease 0.7s;
}

.menuContainer .menuCardWrapper:hover {
  transform: translateY(-50px);
}

.menuCard {
  position: relative;
  left: -20px;
  width: 100%;
  padding: 40px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.menuCard h1 {
  margin-top: 0;
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.menuCard h3 {
  text-align: center;
}

.menuCard > p {
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin: 0;
}

.menuCard li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuCard li p:first-child {
  font-weight: bold;
}

ul {
  list-style: none;
}

.testimonials {
  position: relative;
  overflow: hidden;
}

.testimonials h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.testimonials .tesimonialsWrapper {
  position: relative;
}

.testimonials .tesimonialsWrapper .buttonWrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}

.testimonials .littleRoundBtn {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.9rem;
  font-size: 1.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.testimonials .pictureContainer:after {
  background: linear-gradient(#fafafa 1%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1) 80%, #fafafa 99%);
}

.testimonials ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: 0.4s;
}

.testimonials ul li {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  transition: 0.4s;
}

.testimonialCard {
  background-color: #fafafa;
  height: 400px;
  width: 350px;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonialCard p:first-child {
  font-size: 1.7rem;
  color: yellow;
  text-shadow: 1px 1px 3px rgba(119, 100, 36, 0.5);
}

.testimonialCard p:nth-child(2) {
  line-height: 2rem;
  font-weight: 550;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.testimonialCard p:last-child {
  font-size: 1.8rem;
  line-height: 50px;
  font-family: 'Dancing Script', sans-serif;
  display: flex;
  justify-content: center;
}

.testimonialCard p:last-child:before {
  content: "";
  background-color: lightcoral;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  flex: 0 0 auto;
}

ul {
  list-style: none;
}

.aboutUs {
  padding: 0 20px;
}

.aboutUs h3 {
  text-align: center;
  margin: 40px 0;
}

.aboutUs p,
.aboutUs span {
  display: block;
  text-align: center;
}

.aboutUs p {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
  margin-bottom: 40px;
}

.aboutUsInfoContainer {
  gap: 20px;
}

.aboutUsInfoContainer li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUsInfoContainer li img {
  border-radius: 3px;
}

.aboutUsInfoContainer li .aboutUsImgCover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: #fafafa;
  font-weight: bold;
  text-overflow: clip;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  padding: 20px;
  border-radius: 3px;
}

ul {
  list-style: none;
}

.findUs h1 {
  margin-bottom: 40px;
}

.findUs .findUsInfoWrapper {
  padding: 0 70px 70px;
  background-color: #1c1d1e;
  color: #fafafa;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.findUs .findUsInfoWrapper h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.findUs .findUsInfoWrapper h3 {
  margin-bottom: 20px;
}

.findUs .findUsInfoWrapper img {
  width: 100px;
}

.findUs .findUsInfoWrapper div {
  margin-right: 50px;
  margin-top: 50px;
}

.findUs .findUsInfoWrapper ul li {
  line-height: 30px;
}

.findUs .findUsInfoWrapper ul li a {
  text-decoration: none;
  color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #1c1d1e;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.gotoTopBtn {
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 998;
}

.littleRoundBtn {
  border: none;
  border-radius: 50%;
  background-color: #fafafa;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 1.9rem;
  line-height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.sectionTitle {
  height: 4rem;
  margin-top: 70px;
  text-align: center;
  line-height: 4rem;
  font-size: 4rem;
}

.gridContainer {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridContainer li img {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  z-index: 10;
  padding: 0 10px;
  background-color: #fafafa;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header ul li:not(:last-child) {
  margin-right: 10px;
}

header .contact li a {
  text-decoration: none;
  color: #1c1d1e;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

header .contact li i {
  margin-right: 5px;
}

footer {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-style: italic;
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  .nav ul {
    width: 90%;
  }
  .home .textContainer {
    font-size: 8rem;
    line-height: 8rem;
  }
  .home .textContainer p:last-child {
    top: -4rem;
  }
  .home .textContainer p:first-child.horizontalMove {
    left: -50vw;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menuIntroContainer li .menuIntroImgCover {
    border: 1px solid #fafafa;
    height: 100%;
  }
  .menuIntroContainer li .menuIntroImgCover .whiteFrame {
    border-radius: 10px;
    opacity: 1;
    border: 2px solid #fafafa;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menuIntroContainer li .menuIntroImgCover span {
    position: static;
    transform: translateX(0);
  }
  .menuContainer {
    padding: 0;
  }
  .menuContainer .menuCard h1 {
    font-size: 1.6rem;
  }
  .testimonials h1 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .testimonials .pictureContainer img {
    height: 500px;
  }
  .aboutUs h3 {
    padding: 0 30px;
  }
  .aboutUsImgCover {
    font-size: 1rem;
    line-height: 1rem;
  }
  .findUs .findUsInfoWrapper {
    flex-direction: column;
    align-items: center;
  }
  .findUs .findUsInfoWrapper div {
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  header {
    justify-content: flex-end;
    height: 3rem;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  header li:first-child span:last-child,
  header li:last-child span {
    display: none;
  }
  header svg,
  header i {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .nav {
    background-color: #fafafa;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
  }
  .nav .navMobileBtn {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafafa;
    height: 3rem;
    width: 3rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .nav .navMobileBtn:active {
    background-color: lightcoral;
    height: 2.9rem;
    width: 2.9rem;
  }
  .nav ul {
    position: fixed;
    top: 3rem;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    line-height: 3rem;
    transition: ease 0.4s;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav ul li {
    width: 100%;
  }
  .nav ul li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #1c1d1e;
    font-size: 1.3rem;
  }
  .nav ul li a:hover {
    color: #fafafa;
    background-color: lightcoral;
  }
  .nav ul li a:active {
    color: #1c1d1e;
    background-color: #efc8c8;
  }
  .nav ul button {
    margin-top: 20px;
    color: #1c1d1e;
    font-size: 1.3rem;
    height: 3rem;
  }
  .nav ul.open {
    transform: translateX(100%);
  }
  .sectionTitle {
    font-size: 2.8rem;
  }
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
  .brand {
    height: 180px;
  }
  .brand img:first-child {
    width: 60%;
  }
  .brand img:last-child {
    width: 18%;
  }
  .home img {
    content: url("../assets/images/home_page_600px.png");
  }
  .home .textContainer p:first-child.horizontalMove {
    left: -100vw;
  }
  .menuContainer {
    padding: 0 20px;
    flex-direction: column;
  }
  .menuContainer .menuPicturesWrapper {
    width: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }
  .menuContainer .menuCardWrapper {
    width: 100%;
  }
  .menuContainer .menuCard {
    margin: 0 20px;
    padding: 20px;
    top: -10px;
    left: 0;
  }
  #menuHandrollContainer2,
  #menuRicebowlContainer,
  #menuHotfoodContainer {
    flex-direction: column-reverse;
  }
  .testimonials .pictureContainer img {
    height: 550px;
    object-fit: cover;
  }
  .testimonials .testimonialCard {
    width: 250px;
    height: 300px;
    padding: 20px;
    font-size: 1rem;
    line-height: 1rem;
  }
  .testimonials .testimonialCard p:first-child {
    font-size: 1.2rem;
  }
  .testimonials .testimonialCard p:nth-child(2) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .testimonials .testimonialCard p:last-child {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .testimonials .testimonialCard p:last-child:before {
    height: 1rem;
    width: 1rem;
  }
  .aboutUsInfoContainer li .aboutUsImgCover {
    font-size: 1rem;
    line-height: 1rem;
  }
  .findUsInfoWrapper {
    align-items: center;
  }
}
